<style>
    #sheet {
        margin-top: 1%;
        margin-bottom: 3%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
</style>
@model Community2.promotion
@RenderPage("~/Views/Shared/admin_bar.cshtml")
@{Layout = null;}
<div id="sheet" class="form-group" style="padding-left:30%;">
    <h2>Add New Promotion</h2>
    <div class="container overlay">
        <div class="row">
            <div class="form-group pull-left">
                <div class="panel-body">
                    @using (Html.BeginForm("EditPromotioninDb", "Admin", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@Model.Id" />
                        @Html.TextBoxFor(x => x.subject, new { placeholder = "Title", @class = "form-control field required", type = "text", name = "title", @required = "required", value="@Model.subject" })<br />

                        @Html.TextAreaFor(x => x.description, new { placeholder = "Description", @class = "form-control field required", type = "text", name = "description", @required = "required" , value="@Model.description"})<br />

                        <h4>Add image:</h4> <input style="min-width: 150px; width: 25%; margin-left: 10%" id="img" name="img" type="file" accept="image/jpeg">

                        <input type="submit" value="Update" class="btn btn-lg btn-info btn-block" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/admin_footer.cshtml")
