@RenderPage("~/Views/Shared/admin_bar.cshtml")
@{Layout = null;}
@model  dynamic 

<link href="~/extra/bootstrap.css" rel="stylesheet" />
<script src="~/extra/bootstrap.js"></script>
<script>
    function Search() {
        var search = $('#search').val();
        var cat = $('#category').val();
        search = search.replace(/ /g, '%20');
        $('#songs').load('/User/Search/?search=' + search);
    }
</script>
<section>
    <div class="container" id="sheet" style="width:80%;">
        <h2>User Registration Requests</h2>
        <div class="row" style="margin:3%;">
            <div class="col-md-2">
                <h4 id="searchlabel" style="margin-top:11%;margin-left:7%;">Search:</h4>
            </div>
            <div class="col-md-6">
                <input type="text" name="search" id="search" placeholder="Search User" , onchange="Search()" , class="form-control" style="width:100%;" />
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" type="button" id="Go" onclick="return Search();"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <table class="table table-bordered table-hover" style="margin-left:-4%;">
            <thead style="font-weight:700">
                <tr>
                    <th>Image</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>CNIC</th>
                    <th>Contact</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <div id="users">

                    @foreach (var v in Model)
                    {
                        <tr>
                            <td style="width:16%"><img src="~/images/user_request/user_@(""+v.Id+".jpeg")" class="img-circle" style="width:90%;height:6%" /></td>
                            <td>@v.Id</td>
                            <td>@v.name</td>
                            <td>@v.cnic</td>
                            <td>@v.contact</td>
                            <td>@v.address</td>

                            <td><button class="form-control" onclick="self.location='/Admin/edituser/1'">Accept</button></td>
                            <td>
                                <button class="form-control" onclick="self.location='/Admin/delete/2'">Decline</button>

                            </td>

                        </tr>

                    }

                </div>
            </tbody>
        </table>

    </div>
</section>
@RenderPage("~/Views/Shared/admin_footer.cshtml")




